.theme-btn {
    width: 120px;
    height: 54px;

    padding: 0 18px;

    border: 1px solid rgba(255,255,255,.13);
    border-left: 2px solid #ff171f;
    border-radius: 17px;

    color: #f4f4f4;
    background: linear-gradient(
        110deg,
        rgba(27,27,27,.86),
        rgba(10,10,10,.72)
    );

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    box-shadow:
        inset 0 0 30px rgba(255,255,255,.015),
        0 8px 30px rgba(0,0,0,.45),
        -8px 0 35px rgba(255,0,15,.04);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    transition:
        transform .3s ease,
        border-color .3s ease,
        box-shadow .3s ease,
        background .3s ease;
}

.theme-btn:hover {
    transform: translateX(5px);

    border-color: rgba(255,30,40,.55);

    background: linear-gradient(
        110deg,
        rgba(35,35,35,.95),
        rgba(12,12,12,.88)
    );

    box-shadow:
        inset 0 0 30px rgba(255,255,255,.02),
        0 15px 45px rgba(0,0,0,.55),
        -10px 0 45px rgba(255,0,20,.20),
        0 0 25px rgba(255,0,20,.08);
}

.sun {
    color: #ff171f;
    font-size: 18px;
    text-shadow:
        0 0 8px rgba(255,20,30,.7);
}
